*~
.DS_Store

__pycache__
dist



playground/mytestdoc.pdf
playground/mytestdoc.html

test.pdf
test-intermediate.html


node_modules
node_modules_*
.parcel-cache

.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
